<% content_for :css do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<div class="container">
<div class="row mx-2" style=" display: flex; flex-wrap: wrap;">
  <div class="col-xs-10 col-sm-6 col-md-4 mb-4 ">
    <div class="card h-100" name="chatApp">
      <section class="wrapper hover">
        <div class="content zoom-in-img">
          <img src="/assets/chatApp_20220903141425.png" width="100%">
        </div>
        <div class="hover-text">
          <p class="text1">chatApp</p>
          <p class="text2">同じ部屋にいる全ユーザーとチャットが楽しめるサイトです。</p>
        </div>
      </section>
      <div class="card-body">
        <div class="card-body sitetitle">
          <p>chatApp</p>
          <p><%= link_to '詳細ページへ', task_path('chatApp'),class:'btn btn-outline-success '%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-sm-6 col-md-4 mb-4 ">
    <div class="card h-100" name="chatApp">
      <section class="wrapper hover">
        <div class="content zoom-in-img">
          <img src="/assets/chatApp_20220903141425.png" width="100%">
        </div>
        <div class="hover-text">
          <p class="text1">chatApp</p>
          <p class="text2">同じ部屋にいる全ユーザーとチャットが楽しめるサイトです。</p>
        </div>
      </section>
      <div class="card-body">
        <div class="card-body sitetitle">
          <p>chatApp</p>
          <p><%= link_to '詳細ページへ', task_path('chatApp'),class:'btn btn-outline-success '%></p>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-10 col-sm-6 col-md-4 mb-4 ">
    <div class="card h-100" name="chatApp">
      <section class="wrapper hover">
        <div class="content zoom-in-img">
          <img src="/assets/chatApp_20220903141425.png" width="100%">
        </div>
        <div class="hover-text">
          <p class="text1">chatApp</p>
          <p class="text2">同じ部屋にいる全ユーザーとチャットが楽しめるサイトです。</p>
        </div>
      </section>
      <div class="card-body">
        <div class="card-body sitetitle">
          <p>chatApp</p>
          <p><%= link_to '詳細ページへ', task_path('chatApp'),class:'btn btn-outline-success '%></p>
        </div>
      </div>
    </div>
</div>

</div>
</div>

<%= javascript_include_tag "index.js" %>