<% content_for :css do %>
  <%= stylesheet_link_tag 'index' %>
  <%= stylesheet_link_tag 'common' %>
<% end %>

<div class="container">
  <div class="col-sm-12 col-md-8 offset-md-2">
    <div class="text-center">
      <section class="wrapper">
        <h2>rokumaru-market</h2>
        <div class="content">
          <img src="/assets/rokumaru-market_20220911163500.png" width="100%">
        </div>
        <div class="">
          <p class="text2">野菜が購入できるサイトです。</p>
        </div>
      </section>
        <%= link_to  "https://rokumaru-marcket.herokuapp.com/", title: '共有', target: '_blank' do%>
          <div class="btn btn-c btn--green btn--cubic">サイトはこちら</div>
        <% end %>
      <h3>\share/</h3>
      <span>
        <%= link_to  "https://github.com/shogo1231/rokumaru-marcket", title: '共有', target: '_blank' do%>
          <%= image_tag "/assets/gitHub_Social_Icon.png" ,:width => '70', :height => '70'%>
        <% end %>
      </span>
      <span>
        <%= link_to  "https://twitter.com/share?url=#{request.url}/&text=#{@shop}", title: '共有', target: '_blank' do%>
          <%= image_tag "/assets/Twitter_Social_Icon_Circle_Color.png" ,:width => '70', :height => '70'%>
        <% end %>
      </span>
    </div>
  </div>
</div>